# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Archives & Bundles
*.zip
*.tar.gz
voicecart_dist.zip
voice_cart_ai.zip
VoiceCart_AI_Redesigned.zip

# Specs & Artifacts
*.pdf

# Environment & OS
.DS_Store
*.local
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

